<!-- layout/posts-print-write.mustache -->
{{>layout/header}}

<div class="row">
    <div class="col">
        <h5 class="text-primary">
            <span class="material-icons">edit</span> 글쓰기
        </h5>
    </div>
</div>


{{>layout/footer}}

