
<!-- 주석 단 파일 목록
    Posts.java
    PostsRepository.interface
    PostsService.java
    IndexController.java
    index.js
    Index.mustache

    그외 패키지 및 파일 한줄 코멘트
    - Application.java
        ㅇ Main 함수가 포함된 파일로, 서비스를 실행하는 파일
        ㅇ 실제 서비스에 수행에 필요한 코드는 PostsService.java 파일에 작성

    - templates package > mustache 파일들
        ㅇ mustache파일들은 실제 화면을 그려주는 역할을 수행
        ㅇ 템플릿을 제공하여 import 하는 방식으로 화면을 꾸밀수 있음 ex) header.mustache, footer.mustache

    - auth package 내 파일들
        ㅇ 구글 로그인 기능을 위해 필요한 코드들로, 구글에서 제안하는 형태를 맞추어야 구글로그인 기능 활용가능

    - web package
        ㅇ dto package 와 Controller 파일들고 구성되어있음
        ㅇ controller 파일에서
    - web package > dto
        ㅇ 각각의 controller 파일들이 기능(save, update, delete 등)을 수행하기 위해 데이터를 주고받을 수 있는 객체를 구현

    - domain > user package
        ㅇ 구글아이디 로그인시 회원가입처리를 위한 패키지로, 회원권한과 관련된 코드를 추가 할수 있다.
-->