<!-- layout/posts-show.mustache -->
{{>layout/header}}

<div class="row">
    <div class="col">
        <h5 class="text-primary">
            <span class="material-icons">edit</span> 글내용 보기
        </h5>
    </div>
</div>

<input type="hidden" id="id" value="{{posts.id}}">

<div class="row">
    <div class="col-2 d-none col-md-2 d-md-block colLine">
        제목
    </div>
    <div class="col colLine fw-bold">
        {{posts.title}}
    </div>
</div>
<div class="row">
    <div class="col-2 d-none col-md-2 d-md-block colLine">
        작성자
    </div>
    <div class="col colLine fw-bold">
        {{posts.author}}
    </div>

    <div class="col-3 colLine text-end">
        추천 : <span class="fw-bold" id="idRec">{{posts.rec}}</span>  |
        읽음 : <span class="fw-bold" >{{posts.view}}</span>
    </div>
</div>
<div class="row">
    <div class="col-2 d-none col-md-2 d-md-block colLine">
        내용
    </div>
    <div class="col colLine tagControl">{{posts.content}}</div>
</div>

<xmp>
    화면에 보여지는대로, 태그무시하고 처리
    <br>태그는     이렇게 됩니다.
    <html>태그도 다 무시</html>
</xmp>

<div class="row">
    <div class="col colLine text-center">
        <button type="button" id="btn-xxxx" class="btn btn-primary" onclick="location.href='/posts/update/{{posts.id}}'">수정</button>
        <button type="button" id="btn-delete" class="btn btn-danger">삭제</button>
        <button type="button" id="btn-rec" class="btn btn-warning">추천</button>
        <button type="button" id="btn-list" class="btn btn-primary" onclick="location.href='/'">목록</button>
    </div>
</div>


<script src="/js/app/index.js"></script>


{{>layout/footer}}

